<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../static/js/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../static/css/app/application.css" media="screen">
    <link rel="stylesheet" href="../static/css/app/login.css" media="screen">
    <script src="../static/js/bootstrap.min.js"></script>

    <title>Login</title>
</head>

<body>
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center; padding-top: 15px;">
            Course Registration
        </h1>
        <br>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="userName" placeholder="User Name" id="userName"
                    value="{{request.form.userName}}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" id="password"
                    value="{{request.form.password}}">
            </div>
            <button type="submit" class="btn btn-primary btn-block" value="login">Login</button>
        </form>
        {% if error %}
        <p class="error"><Strong>Error:</Strong> {{error}}</p>
        {% endif %}
    </div>
</body>

</html>